@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --font-geist: "";
}

@theme inline {
  --font-sans: var(--font-geist);
}

*, *::before, *::after {
  box-sizing: border-box;
}
